/* ========================================================================
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 * Our tweaks:
 *  - Removed <ul> and <ol> list style resets.
 * ======================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
{
    display: block;
}

body
{
    line-height: 1;
}

blockquote, q
{
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
    content: '';
    content: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

/* ========================================================================
 * Common styles.
 * ======================================================================== */

body
{
    background-color: #282828;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

p
{
    line-height: 26px;
}

p, pre
{
    margin-bottom: 20px;
}

hr
{
    height: 1px;
    margin-top: 40px;
    margin-bottom: 50px;
    border: 0px;
    background-color: #282828;
}

/* Trick to offset in-document links in presence of a fixed header.
   See http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-D */
h2, h3
{
    border-top: 80px solid transparent;
}

h2
{
    margin-top: -45px;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-size: 25px;
}

h3
{
    margin-top: -50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

h4
{
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 + h3
{
    margin-top: -80px;
}

a
{
    text-decoration: none;
    color: #da854c;
    transition: 320ms;
}

a:hover
{
    color: #f60;
}

ul, ol
{
    padding-left: 35px;
    padding-bottom: 20px;
    line-height: 26px;
}

li
{
    padding-bottom: 4px;
}

code, kbd
{
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 4px;
}

pre
{
    padding: 10px;
    line-height: 24px;
}

code, pre, kbd
{
    font-family: 'Inconsolata', monospace;
    background-color: #383838;
}

kbd
{
    border-style: solid;
    border-width: 1px;
    border-color: #777 #1a1a1a #1a1a1a #777;
    border-radius: 4px;
}

iframe
{
    display: block;
    box-shadow: 0px 0px 20px 5px #252525;
}

.button
{
    display: inline-block;
    width: 200px;
    margin: 15px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #666;
}

.button:hover
{
    color: #1a1a1a;
    background-color: #888;
}

.legend
{
    margin-top: 20px;
    text-align: center;
    color: #888;
}

table
{
    margin-bottom: 20px;
}

td, th
{
    border: solid 1px #2f2f2f;
    padding: 15px;
}

td
{
    background-color: #444;
}

th, tfoot td
{
    background-color: #383838;
    font-size: 18px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb
{
    width: 12px;
}

::-webkit-scrollbar-track
{
    background-color: #222;
}

::-webkit-scrollbar-thumb
{
    background-color: #444;
}

/* ========================================================================
 * Sections.
 * ======================================================================== */

.section.light
{
    background-color: #2f2f2f;
}

.section.dark
{
    background-color: #282828;
}

.section .content
{
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #ccc;
}

/* ========================================================================
 * Logo section.
 * ======================================================================== */

.section.logo .content
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.section.logo img.logo
{
    display: inline-block;
}

/* ========================================================================
 * Navigation section.
 * ======================================================================== */

.section.navigation
{
    width: 100%;
    z-index: 100;
    transition: 320ms;
}

.section.navigation.sticky
{
    position: fixed;
    top: 0px;
    background-color: #1a1a1a;
}

.section.navigation .content
{
    padding-top: 0px;
    padding-bottom: 0px;
}

.section.navigation.sticky + .section
{
    padding-top: 63px;
}

.section.navigation ul
{
    padding: 0px;
    display: block;
    list-style-type: none;
    text-align: center;
}

.section.navigation ul li
{
    display: inline-block;
    padding: 20px 15px 20px 15px;
    text-transform: uppercase;
    transition: 320ms;
}

.section.navigation.sticky ul li
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.section.navigation ul li a:not(:hover)
{
    color: inherit;
}

.section.navigation ul li.active a,
.section.navigation ul li.active span
{
    color: #f60;
}

.section.navigation .arrow
{
    position: relative;
}

.section.navigation .arrow:after
{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 0px;
    height: 0px;
    content: " ";
    margin-left: -15px;
    border: solid transparent;
    border-top-color: #282828;
    border-width: 15px;
    transition: 320ms;
}

.section.navigation.sticky .arrow:after
{
    top: 10px;
    border-top-color: transparent;
}

/* ========================================================================
 * Intro section.
 * ======================================================================== */

.section.intro .content
{
    padding-top: 60px;
    padding-bottom: 15px;
}

.section.intro p
{
    margin-bottom: 25px;
    line-height: 35px;
    font-size: 17px;
    text-align: center;
}

.section.intro p:last-child a
{
    font-size: 20px;
}

.section.intro p:last-child a:not(:hover)
{
    color: inherit;
}

/* ========================================================================
 * Quick section.
 * ======================================================================== */

.section.quick .content
{
    padding-top: 0px;
    padding-bottom: 60px;
    text-align: center;
}

.section.quick .buttons
{
    display: inline-block;
}

.section.quick .download
{
    display: inline-block;
}

.section.quick .download .button
{
    display: block;
    background-color: #f60;
}

.section.quick .download .button:hover
{
    background-color: #da854c;
}

.section.quick .download .version:not(:hover)
{
    color: #888;
}

.section.quick .button.get-started
{
    vertical-align: top;
}

/* ========================================================================
 * Showcase section.
 * ======================================================================== */

.section.showcase .content
{
    padding-top: 60px;
}

.section.showcase .legend
{
    text-align: center;
}

/* ========================================================================
 * News section.
 * ======================================================================== */

.section.news article
{
    display: inline-block;
    vertical-align: top;
}

.section.news article + article
{
    margin-top: 40px;
}

.section.news article .date
{
    margin-top: -10px;
    padding-bottom: 40px;
    color: #888;
}

.section.news #older-news
{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* ========================================================================
 * Features section.
 * ======================================================================== */

.section.features .group
{
    margin-bottom: 60px;
}

.section.features .group:last-child
{
    margin-bottom: 0px;
}

.section.features .group img
{
    margin-bottom: 20px;
}

.section.features .columns
{
    display: block;
}

.section.features .column
{
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    text-align: left;
}

.section.features .column.left
{
    width: 370px;
}

.section.features .column.right
{
    width: 330px;
}

.section.features .block
{
    padding-bottom: 30px;
}

.section.features .block:last-child
{
    padding-bottom: 0px;
}

.section.features .block ul
{
    padding: 0px;
    list-style-type: none;
}

.section.features .block li
{
    margin-bottom: 10px;
}

/* ========================================================================
 * Gallery.
 * ======================================================================== */

.section.gallery .collection
{
    margin-bottom: 40px;
}

.section.gallery .collection img
{
    max-width: 240px;
    box-shadow: 0px 0px 20px 5px #252525;
}

/* ========================================================================
 * Download section.
 * ======================================================================== */

.section.download .builds
{
    margin: 20px;
    text-align: center;
}

.section.download .build
{
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
}

.section.download .build:not(:hover)
{
    color: inherit;
}

.section.download .build i
{
    width: 80px;
    margin: 20px;
    padding: 20px;
    font-size: 80px;
    color: #1a1a1a;
    background-color: #666;
    transition: 320ms;
}

.section.download .build:hover i
{
    background-color: #f60;
}

.section.download .scenes
{
    text-align: center;
}

.section.download .scene
{
    display: inline-block;
    margin-bottom: 40px;
}

.section.download .scene:not(:hover)
{
    color: inherit;
}

.section.download .scene img
{
    margin: 15px 20px 15px 20px;
    filter: grayscale(100%) brightness(0.4);
    -webkit-filter: grayscale(100%);
    transition: 320ms;
}

.section.download .scene:hover img
{
    filter: initial;
    -webkit-filter: initial;
}

/* ========================================================================
 * Docs section.
 * ======================================================================== */

.section.docs .tutorials
{
    margin-bottom: 20px;
}

.section.docs .tutorial
{
    display: inline-block;
    width: 240px;
    height: 450px;
    overflow-y: hidden;
    margin-right: 100px;
    /*margin-bottom: 100px;*/
}

.section.docs .tutorial a:not(:hover)
{
    color: inherit;
}

.section.docs .tutorial img
{
    box-shadow: none;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 320ms;
}

.section.docs .tutorial:hover img
{
    filter: initial;
    -webkit-filter: initial;
}

.section.docs .tutorial h4
{
    padding-top: 30px;
    padding-bottom: 25px;
}

.section.docs .tutorial .description
{
    font-size: 14px;
    text-align: left;
}

.section.docs .illustration
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.section.docs img
{
    display: block;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 5px #252525;
}

/* ========================================================================
 * Team section.
 * ======================================================================== */

.section.team .group:not(:last-child)
{
    margin-bottom: 80px;
}

.section.team .member
{
    margin-bottom: 60px;
}

.section.team .member:last-child
{
    margin-bottom: 30px;
}

.section.team .member h3
{
    margin-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
}

.section.team .member .column
{
    display: inline-block;
    vertical-align: top;
}

.section.team .member .column.left
{
    width: 290px;
}

.section.team .member .column.right
{
    width: 470px;
}

/* ========================================================================
 * Statistics.
 * ======================================================================== */

.section.stats .release
{
    margin-bottom: 60px;
}

.section.stats .release table
{
    margin-top: 30px;
}

.section.stats .release .file
{
    width: 500px;
    text-align: left;
}

.section.stats .release .count
{
    width: 100px;
    text-align: right;
}

/* ========================================================================
 * Footer section.
 * ======================================================================== */

.section.footer .columns-wrapper
{
    text-align: center;
}

.section.footer .columns
{
    display: inline-block;
}

.section.footer ul.column
{
    padding: 0px;
    margin: 40px;
    display: inline-block;
    list-style-type: none;
    text-align: left;
}

.section.footer ul.column#social
{
    width: 110px;
}

.section.footer ul.column .header
{
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 20px;
}

.section.footer ul.column li
{
    margin: 10px;
}

.section.footer ul.column li a:not(:hover)
{
    color: #888;
}

.section.footer .copyright p
{
    font-size: 14px;
    text-align: center;
    color: #555;
}

.section.footer .copyright p a
{
    font-weight: bold;
}

.section.footer .copyright p a:not(:hover)
{
    color: inherit;
}

.section.footer #emailPopup
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.section.footer #emailPopup #window
{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 500px;
    height: 150px;
    margin-top: -75px;
    margin-left: -250px;
    background-color: #2f2f2f;
    padding: 10px;
}

.section.footer #emailPopup #window a
{
    text-decoration: none;
    color: #da854c;
    transition: 320ms;
}

.section.footer #emailPopup #window a#closeEmailPopupLink:not(:hover)
{
    color: #888;
}

.section.footer #emailPopup #window a:hover
{
    color: #f60;
}
