body {
    margin: 0px;
    background-color: #2f2f2f;
    font-family:"Open Sans";
    color: #888888;
}

#header {
    height: 220px;
    background-color: #282828;
    text-align: center;
}

#logo {
    padding: 30px;
}

#navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navigation ul li { display: inline; }

#navigation ul li a {
    font-weight: bold;
    text-decoration: none;
    padding: .2em 1.2em;
    color: #777777;
}

#navigation ul li a:hover {
    color: #bbbbbb;
}