        </div>
        <p class="clear"></p>
        <div id="footer-container">
            <div id="footer-inner">
                <div class="footer" id="contact">
                    <h4>Contact</h4>
                    <ul>
                        <li><a href="mailto:contact@appleseedhq.net">contact@appleseedhq.net</a></li>
                        <li><a href="https://groups.google.com/forum/#!forum/appleseed-dev">mailing list</a></li>
                    </ul>
                    <div id="social">
                        <ul>
                            <li><a href="https://github.com/appleseedhq"><i class="fa fa-github fa-lg"></i></a></li>
                            <li><a href="https://vimeo.com/appleseedhq"><i class="fa fa-vimeo-square fa-lg"></i></a></li>
                            <li><a href="https://twitter.com/appleseedhq"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer" id="links">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="http://www.mayaseed.net/">mayaseed.net</a></li>
                        <li><a href="http://www.fetchaveryshortfilm.com/">fetchaveryshortfilm.com</a></li>
                    </ul>
                </div>
                <div class="footer" id="copyright">
                    <h4>Copyright</h4>
                    appleseed is released under the permissive <a href="http://en.wikipedia.org/wiki/MIT_License">MIT&nbsp;license</a>.
                </div>
            </div>
        </div>
        {% if page.home %}
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="js/slick.min.js"></script>
            <script>
            $(document).ready(function(){
                $('.carousel').slick({
                    dots: true,
                    touchMove: true
                });
            });
            </script>
        {% endif %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-11430889-2', 'appleseedhq.github.io');
          ga('send', 'pageview');

        </script>
    </body>
</html>