        <!-- ====================
             Footer section.
             ==================== -->

        <div class="section dark footer">
            <div class="content">
                <div class="columns-wrapper">
                    <div class="columns">
                        <ul class="column" id="contact">
                            <li class="header">Contact</li>
                            <li><a href="mailto:hello@appleseedhq.net">hello@appleseedhq.net</a></li>
                            <li><a href="https://forum.appleseedhq.net/">User Forum</a></li>
                            <li><a href="https://groups.google.com/forum/#!forum/appleseed-dev">Development Mailing List</a></li>
                        </ul>
                        <ul class="column" id="social">
                            <li class="header">Social</li>
                            <li><a href="https://twitter.com/appleseedhq">Twitter</a></li>
                            <li><a href="https://vimeo.com/appleseedhq">Vimeo</a></li>
                            <li><a href="https://www.openhub.net/p/appleseedhq">Open Hub</a></li>
                        </ul>
                        <ul class="column" id="github">
                            <li class="header">GitHub</li>
                            <li><a href="https://github.com/appleseedhq/appleseed">Source Code</a></li>
                            <li><a href="https://github.com/appleseedhq/appleseed/issues">Issue Tracker</a></li>
                            <li><a href="https://github.com/appleseedhq/appleseedhq.github.io">This Site</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    <p>Made with care &bull; Released under the <a href="http://en.wikipedia.org/wiki/MIT_License">MIT license</a>
                    <br>
                    &copy; 2010-2015 The appleseedhq Organization</p>
                </div>
            </div>
        </div>

        {% include analytics.html %}
    </body>
</html>
