<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/"><img src="/img/appleseed-logo.png" alt="appleseed logo"></a>
            </div>
            <div id="navigation">
                <ul>
                    <li><a href="about.html">about</a></li>
                    <li><a href="download.html">download</a></li>
                    <li><a href="news.html">news</a></li>
                    <li><a href="https://github.com/appleseedhq/appleseed">github</a></li>
                </ul>
            </div>
        </div>
        <div id="wrapper">