<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>appleseed{{% | {{ page.title }}</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}css/slick.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">
                    <img src="/img/appleseed-logo.png" alt="appleseed logo" />
                </a>
            </div>
            <div id="navigation">
                <ul>
                    {% assign current = page.url | remove_first: site.baseurl %}
                    {% for item in site.data.menus %}
                    <li>
                        <a href="{{ item.url }}" {% if current == item.url %}class="active"{% endif %}>{{ item.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="wrapper">
