<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>appleseed{{% | {{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <!------------------------
          Header section.
          ----------------------->

        <div class="section dark header">
            <div class="content">
                <div class="logo-wrapper">
                    <a href="/">
                        <img class="logo" src="/img/appleseed-website-logo.png" alt="appleseed logo">
                    </a>
                </div>
                <div class="navigation-wrapper">
                    <ul class="navigation">
                        {% for item in site.data.navigation %}
                            {% if page.url == item.url %}
                                <li class="active">
                                    <span>{{ item.label }}</span>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ item.url }}">{{ item.label }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
