{% include header.html %}

    <div class="section light team">
        <div class="content">
            <div class="wrapper">
                <div class="group">
                    <h2>Core Team</h2>
                    {% for member in site.data.coreteam %}
                        <div class="member">
                            <div class="column left">
                                <h3>{{ member.name }}</h3>
                                <img src="img/team/{{ member.picture }}" alt="{{ member.name }}">
                            </div>
                            <div class="column right">
                                <h4 class="role">{{ member.role }}</h4>
                                <article class="bio">{{ member.bio | markdownify }}</article>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="group">
                    <h2>Contributors</h2>
                    {% for member in site.data.contributors %}
                        <div class="member">
                            <div class="column left">
                                <h3>{{ member.name }}</h3>
                                <img src="img/team/{{ member.picture }}" alt="{{ member.name }}">
                            </div>
                            <div class="column right">
                                <h4 class="role">{{ member.role }}</h4>
                                <article class="bio">{{ member.bio | markdownify }}</article>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="group">
                    <h2>External Projects</h2>
                    {% for member in site.data.externalprojects %}
                        <div class="member">
                            <div class="column left">
                                <h3>{{ member.name }}</h3>
                                <img src="img/team/{{ member.picture }}" alt="{{ member.name }}">
                            </div>
                            <div class="column right">
                                <h4 class="role">{{ member.role }}</h4>
                                <article class="bio">{{ member.bio | markdownify }}</article>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% include footer.html %}
