{% include header.html %}
{% include illustrations.html %}

    <div class="section light illustrated">
        <div class="content">
            {{ content }}
        </div>
    </div>

    <div class="section dark team">
        <div class="content">
            <div class="group">
                <h2 id="team">Core Team</h2>
                {% for member in site.data.coreteam %}
                    {% include member.html %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section light team">
        <div class="content">
            <div class="group">
                <h2>Active Contributors</h2>
                {% for member in site.data.activecontributors %}
                    {% include member.html %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section dark team">
        <div class="content">
            <div class="group">
                <h2>Past Contributors</h2>
                {% for member in site.data.pastcontributors %}
                    {% include member.html %}
                {% endfor %}
            </div>
        </div>
    </div>

{% include footer.html %}
