{% include header.html %}

    <div class="section light features">
        <div class="content">
            <h2>Feature List</h2>

            <div class="group">
                <img src="/img/features/fetch1.jpg" alt="Fetch Render">
                <div class="columns">
                    <div class="column left">
                        <div class="block">
                            <h3>Light Transport</h3>
                            <ul>
                                <li>Distributed Ray Tracing</li>
                                <li>Unidirectional Path Tracing</li>
                                <li>Stochastic Progressive Photon Mapping</li>
                                <li>Light Tracing</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h3>Rendering Modes</h3>
                            <ul>
                                <li>Multipass rendering</li>
                                <li>Progressive rendering</li>
                                <li>Interactive rendering</li>
                                <li>Scene editing during rendering</li>
                                <li>Spectral rendering (31 bands)</li>
                                <li>RGB rendering</li>
                                <li>Automatic spectral / RGB switching</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column right">
                        <div class="block">
                            <h3>Reflection Models</h3>
                            <ul>
                                <li>Lambertian BRDF (purely diffuse)</li>
                                <li>Specular BRDF (perfect mirror)</li>
                                <li>Specular BTDF (clear glass)</li>
                                <li>Oren-Nayar Microfacet BRDF</li>
                                <li>Ward Microfacet BRDF</li>
                                <li>Blinn Microfacet BRDF</li>
                                <li>GGX Microfacet BRDF</li>
                                <li>Microfacet BTDF (rough glass)</li>
                                <li>Anisotropic Ashikhmin-Shirley BRDF</li>
                                <li>Kelemen BRDF</li>
                                <li>Disney's Layered BRDF</li>
                                <li>Arbitrary mixture of BRDFs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group">
                <img src="/img/features/fluffycornellbox.jpg" alt="Fluffy Cornell Box Render">
                <div class="columns">
                    <div class="column left">
                        <div class="block">
                            <h3>Camera Models</h3>
                            <ul>
                                <li>Pinhole camera</li>
                                <li>Spherical camera</li>
                                <li>Thin lens camera (depth of field)</li>
                                <li>Polygonal diaphragm shapes</li>
                                <li>Image-based diaphragm shapes</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h3>Light Source Models</h3>
                            <ul>
                                <li>Point light</li>
                                <li>Spot light</li>
                                <li>Gobos</li>
                                <li>Directional/parallel light</li>
                                <li>Mesh light</li>
                                <li>Purely diffuse emission profile</li>
                                <li>Cone-shaped emission profile</li>
                                <li>Image-based lighting</li>
                                <li>Latitude-longitude environment maps</li>
                                <li>Mirror-ball environment maps</li>
                                <li>Preetham physically-based day sky</li>
                                <li>Hosek & Wilkie physically-based day sky</li>
                                <li>Physically-based sun</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column right">
                        <div class="block">
                            <h3>Motion Blur</h3>
                            <ul>
                                <li>Camera motion blur</li>
                                <li>Transformation motion blur</li>
                                <li>Deformation motion blur</li>
                                <li>Arbitrarily number of motion steps</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h3>Production Features</h3>
                            <ul>
                                <li>Open Shading Language</li>
                                <li>OSL shader library</li>
                                <li>Disney's SeExpr expressions</li>
                                <li>Rule-based render layers</li>
                                <li>Hierarchical instancing</li>
                                <li>Per-instance visibility flags</li>
                                <li>Alpha mapping</li>
                                <li>Automatic color space conversions</li>
                                <li>Ray bias</li>
                                <li>Light Near Start</li>
                                <li>Max Ray Intensity</li>
                                <li>Dozens of diagnostic modes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group">
                <img src="/img/features/fetch2.jpg" alt="Fetch Render">
                <div class="columns">
                    <div class="column left">
                        <div class="block">
                            <h3>Interoperability</h3>
                            <ul>
                                <li>Windows, Linux and OS X (64-bit)</li>
                                <li>OBJ, Alembic, BinaryMesh (proprietary)</li>
                                <li>OpenEXR, PNG</li>
                                <li>OSL shaders</li>
                                <li>Gaffer integration</li>
                                <li>Maya integration</li>
                                <li>Blender integration</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h3>Hackability</h3>
                            <ul>
                                <li>Fully open source, MIT license</li>
                                <li>Exceptionally clean code</li>
                                <li>CMake build system</li>
                                <li>Full featured C++ API</li>
                                <li>Full featured Python 2.x/3.x API</li>
                                <li>More than 1200 built-in unit tests</li>
                                <li>Hundreds of built-in performance tests</li>
                                <li>Rich, automatic functional test suite</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column right">
                        <div class="block">
                            <h3>Performance</h3>
                            <ul>
                                <li>Multithreaded, scalable</li>
                                <li>SSE / SSE2 vectorization</li>
                                <li>Memory-bounded texture cache</li>
                                <li>Multiple Importance Sampling</li>
                                <li>Efficient handling of alpha maps</li>
                            </ul>
                        </div>
                        <div class="block">
                            <h3>Tools</h3>
                            <ul>
                                <li>Full featured graphical tool for scene edition</li>
                                <li>Command line renderer</li>
                                <li>Dropbox-based render farm tools</li>
                                <li>OSL compiler and tools</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Screenshots</h2>

            <div class="screenshots">
                {% for item in site.data.screenshots %}
                    <div class="screenshot">
                        <a href="{{ item.url }}" data-lightbox="screenshots" data-title="{{ item.legend | markdownify | strip_html }}">
                            <img src="{{ item.url }}" alt="{{ item.legend }}">
                        </a>
                        <div class="legend">{{ item.legend | markdownify }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% include footer.html %}
