{% include header.html %}

    <!------------------------
      Intro section.
      ----------------------->

    <div class="section light intro">
        <div class="content">
            <div class="wrapper">
                {% for p in site.data.intro %}
                    {{ p.text | markdownify }}
                {% endfor %}
            </div>
        </div>
    </div>

    <!------------------------
      Quick section.
      ----------------------->

    <div class="section light quick">
        <div class="content">
            <div class="buttons-wrapper">
                <div class="buttons">
                    <div class="download">
                        <a class="button" href="#">Download</a>
                        <a class="version" href="https://github.com/appleseedhq/appleseed/releases/tag/1.1.0-alpha-24">Current Version: 1.1.0 alpha-24</a>
                    </div>
                    <a class="button get-started" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <!------------------------
      Showcase section.
      ----------------------->

    <div class="section dark showcase">
        <div class="content">
            <div class="wrapper">
                <iframe src="//player.vimeo.com/video/92172277?title=0&amp;byline=0&amp;portrait=0&amp;color=ff6600" width="768" height="432" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p class="legend"><a href="http://www.fetchaveryshortfilm.com/">Fetch</a> is a short film produced by the development team and entirely rendered with appleseed</p>
            </div>
        </div>
    </div>

    <!------------------------
      News section.
      ----------------------->

    <div class="section light news">
        <div class="content">
            <div class="wrapper">
                {% for post in site.posts limit:1 %}
                    <article>
                        <div class="date">{{ post.date | date: "%B %-d, %Y" }}</div>
                        <h3>{{ post.title }}</h3>
                        {{ post.content }}
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>

{% include footer.html %}
