{% include header.html %}
    <div id="splash-wrapper">
        <div id="splash">
            <a href="" id="download-link">
                <div id="download-button">
                    <div id="download-cta">Download</div>
                    <div id="download-platform"></div>
                </div>
            </a>
            <div id="splash-message">
                appleseed is a modern, physically-based production renderer developed by visual effects professionals. It is released as open source under the MIT license.
            </div>
        </div>
    </div>

    <div id="video-carousel">
        <iframe src="//player.vimeo.com/video/66799467" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div id="news">
        <div id="latest-news">Latest news</div>
        <div id="news-container">
            <div class="news-title">1.1.0 alpha-20 Released</div>
            <div class="news-body">
                <p>The major feature of this new release is a new lighting engine based on the Stochastic Progressive Photon Mapping (SPPM) algorithm. It works pretty well in itself and allows to efficiently render caustics-heavy scenes. It is also an important stepping stone toward the implementation of Vertex Connection and Merging (VCM), a modern, all-encompassing bidirectional light transport algorithm.</p>
                <p>New features also include multipass rendering, a new spherical camera model to render latitude-longitude environment maps, fractional sample counts for direct and image-based lighting, etc.</p>
            </div>
        </div>
    </div>
    <script>
        var link, target = '';
        if (navigator.appVersion.indexOf("Win")!=-1)
        {
            link = 'https://drive.google.com/file/d/0B5JRj3LWTYIRcW5mTlF4QUZRMm8/edit';
            target = 'for Windows';
        }
        else if (navigator.appVersion.indexOf("Mac")!=-1)
        {
            link = 'https://drive.google.com/file/d/0B5JRj3LWTYIRTmlaaU5heXBLSjA/edit';
            target = 'for MacOS 10.9 +';
        }
        else if (navigator.appVersion.indexOf("X11")!=-1 || navigator.appVersion.indexOf("Linux")!=-1)
        {
            link = 'https://drive.google.com/file/d/0B5JRj3LWTYIRZkJoRHh4NzlCbFE/edit';
            target = 'for Linux';
        }

        document.getElementById('download-link').href = link;
        document.getElementById('download-platform').innerHTML = target;
    </script>
{% include footer.html %}