{% include header.html %}

    <!-- ====================
         Intro section.
         ==================== -->

    <div class="section light intro">
        <div class="content">
            {{ content }}
        </div>
    </div>

    <!-- ====================
         Quick section.
         ==================== -->

    <div class="section light quick">
        <div class="content">
            <div class="buttons">
                <div class="download">
                    {% for release in site.data.releases limit:1 %}
                        <a class="button" id="download-link" href="#"><i class="fa fa-download"></i> Download</a>
                        <a class="version" href="{{ release.github }}">Current Version: {{ release.version }}</a>

                        <script>
                            "use strict";

                            var platform = "";

                            if (navigator.appVersion.indexOf("Win") != -1) platform = "windows";
                            else if (navigator.appVersion.indexOf("Mac") != -1) platform = "osx";
                            else if (navigator.appVersion.indexOf("Linux") != -1) platform = "linux";

                            document.getElementById('download-link').href = "/download.html";

                            {% for build in release.builds %}
                                if (platform === "{{ build.platform }}") {
                                    document.getElementById('download-link').href = "{{ build.url }}";
                                }
                            {% endfor %}
                        </script>
                    {% endfor %}
                </div>
                <a class="button get-started" href="/docs/tutorials/gettingstarted.html">Get Started</a>
            </div>
        </div>
    </div>

    <!-- ====================
         Showcase section.
         ==================== -->

    <div class="section dark showcase">
        <div class="content">
            <iframe src="//player.vimeo.com/video/92172277?title=0&amp;byline=0&amp;portrait=0&amp;color=ff6600" width="768" height="432" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p class="legend"><a href="http://www.fetchaveryshortfilm.com/">Fetch</a> is a short film produced by the development team and entirely rendered with appleseed</p>
        </div>
    </div>

    <!-- ====================
         News section.
         ==================== -->

    <div class="section light news">
        <div class="content">
            {% for post in site.posts limit:1 %}
                <article>
                    <h2 id="latest-news">{{ post.title }}</h2>
                    <div class="date">{{ post.date | date: "%B %-d, %Y" }}</div>
                    {{ post.content }}
                </article>
            {% endfor %}
            <div id="older-news">
                <a href="/news.html">Older News&hellip;</a>
            </div>
        </div>
    </div>

    <!-- ====================
         Showcase section.
         ==================== -->

    <div class="section dark showcase">
        <div class="content">
            <iframe src="//player.vimeo.com/video/127622613?title=0&amp;byline=0&amp;portrait=0&amp;color=ff6600" width="768" height="432" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p class="legend">In this video, we create a material from scratch and assign it to pieces of a 72 million triangles model, within appleseed.studio, appleseed's standalone lookdev application.</p>
        </div>
    </div>

{% include footer.html %}
