{% include header.html %}
    {% for member in site.data.members %}
    <div class="team-member">
        <img src="img/{{ member.picture }}" alt="{{ member.name }}">
        <div class="info">
            <h4>{{ member.name }}</h4>
            <div class="bio">{{ member.bio }}</div>
            <ul class="links">
                {% for link in member.links %}
                <li class="link">
                    <span class="label">{{ link.label }}</span>:&nbsp;
                    <a href="{{ link.url }}">{{ link.url }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
{% include footer.html %}
